<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>ID</key>
		<string>FIVE_PIN_APP_ID</string>
		<key>Name</key>
		<string>5 Pin Bowling Companion</string>
		<key>Icon</key>
		<string>FivePin</string>
		<key>TransferServer</key>
		<dict>
			<key>ApiKey</key>
			<string>TRANSFER_API_KEY</string>
			<key>URL</key>
			<string>TRANSFER_SERVER_URL</string>
		</dict>
		<key>SecureTransferServer</key>
		<dict>
			<key>ApiKey</key>
			<string>SECURE_TRANSFER_API_KEY</string>
			<key>URL</key>
			<string>SECURE_TRANSFER_SERVER_URL</string>
		</dict>
		<key>Mixpanel</key>
		<dict>
			<key>ApiKey</key>
			<string>MIXPANEL_API_KEY</string>
		</dict>
		<key>Admob</key>
		<dict>
			<key>PublisherID</key>
			<string>ADMOB_PUBLISHER_ID</string>
			<key>ClientID</key>
			<string>ADMOB_CLIENT_ID</string>
			<key>UnitIDs</key>
			<array>
				<string>ADMOB_UNIT_IDS</string>
			</array>
		</dict>
	</dict>

	<dict>
		<key>ID</key>
		<string>TEN_PIN_APP_ID</string>
		<key>Name</key>
		<string>10 Pin Bowling Companion</string>
		<key>Icon</key>
		<string>TenPin</string>
		<key>TransferServer</key>
		<dict>
			<key>ApiKey</key>
			<string>TRANSFER_API_KEY</string>
			<key>URL</key>
			<string>TRANSFER_SERVER_URL</string>
		</dict>
		<key>SecureTransferServer</key>
		<dict>
			<key>ApiKey</key>
			<string>SECURE_TRANSFER_API_KEY</string>
			<key>URL</key>
			<string>SECURE_TRANSFER_SERVER_URL</string>
		</dict>
		<key>Mixpanel</key>
		<dict>
			<key>ApiKey</key>
			<string>MIXPANEL_API_KEY</string>
		</dict>
		<key>Admob</key>
		<dict>
			<key>PublisherID</key>
			<string>ADMOB_PUBLISHER_ID</string>
			<key>ClientID</key>
			<string>ADMOB_CLIENT_ID</string>
			<key>UnitIDs</key>
			<array>
				<string>ADMOB_UNIT_IDS</string>
			</array>
		</dict>
	</dict>
</array>
</plist>
